@font-face {
    font-family: "netnet";
    src: url("../fonts/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "netnet";
    src: url("../fonts/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
    font-style: normal;
  }

  a{
    color:#c4c4c4;
    font-size:4vw !important;
  }
  a:hover {
      color: #fff;
  }

body {
    font-family: "netnet";
    background-color: #000000;
    color:#c4c4c4;
    width: 100vw;
    max-width: 100%;
}

header {
    display: flex;
    max-width: 100%;
    height: fit-content;
    flex-direction: column;
    margin-left: -8px;
    position: absolute;
    height: 50vh;
}

header div {
    margin: 10px 0px;
}

.nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    margin-top:20px;
}

.card-img {
    height: 250px;
    width: 156px;
    border: none;
    margin-bottom: 1px;
    border: 1px solid rgba(0, 0, 0, .125);
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}


#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}


#logo {
    background: linear-gradient(to bottom,#000000 0,rgba(22, 22, 22, 0.953) 30%,rgba(0, 0, 0, 0) 100%);
    width: 100%;
    box-sizing: border-box;
    height: 30vh;
    padding: 0;
}

#logo img {
    width: 30%;
    margin-bottom: -18px;
    margin-top: -15px;
}

#menu {
    width: 100%;
    box-sizing: border-box;
    margin-top: -8px;
    top: 8vh;
    position: absolute;
}

#menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    font-size: 4vw !important;
}

#menu ul li:hover {
    color: white;
}
main {
    width: 100%;
    margin-bottom: 10vw;
    
}
#slider {
    width:100%;
    margin-left: -9px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#slider img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#slider-content {
    width: 100%;
    margin-top: -170px;
    position: relative;
    background: linear-gradient(to top,#000000 0,rgba(22, 22, 22, 0.953) 50%,rgba(0, 0, 0, 0) 100%);
}
#actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#actions img {
    width: 25%;
    max-height: 3rem;
    position: static;
}

#reproducir{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    margin-bottom: 20px;
}

#reproducir:hover {
background-color: rgb(201, 200, 200);
}

#reproducir img {
    margin: 0px;
}

#contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.headers {
    margin-left: 3.5vw;
    font-size: 5vw;
}
.listPopulares, .listAnime, .listSeries {
    display: flex;
    flex-direction:row;
    overflow-x: scroll;
    margin-top: 7vw;
}
.listPopulares img, .listAnime img, .listSeries img {
    margin: 2vw 2vw;
}

.force-overflow
{
	min-height: 450px;
}

footer {
    display: flex;
    position: fixed;
    flex-direction:row;
    justify-content: space-evenly;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background:#0e0e0e;
    height: 6%;
}

@media (min-width: 540px) and (max-width: 1024px) {
  
    #menu {
        top: 13vh;
    }
    
}

@media (min-width: 1025px){
  
    footer {
        display: none;
    }
    #menu {
        top: 0px;
        margin-top: 0px;
    }
    #menu ul {
        justify-content: flex-end;
        margin-top: -10px;
    }
    #menu ul li {
        padding: 10px;
        margin: 0px 20px 0px 20px !important;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    a{
        font-size: 30px !important;
    }
    #logoimagen {
        margin-top: -5px;
    }
    #logo {
        background:#0e0e0e;
        height: 15vh;
        position: fixed;
        flex-direction: row;
        top: 0;
        z-index: 1000;
    }
    main {
        margin: 113px auto 0px auto;
    }
    #slider {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    #reproducir {
        font-size: 15px;
    }
    #contenido {
        align-items: center;
        margin-top: 10vh;
        margin-bottom: 5vh;
        margin-left: auto;
        margin-right: auto;
    }
    .headerito {
        margin-bottom: -20px;
        position: relative;
        height: 2vh;
        font-size: 40px;
        font-weight: bold;
        width: 450px;
        text-align: center;
    }
    .listPopulares, .listAnime, .listSeries {
        overflow-x: auto;
    
    }


}

