* {
    margin: 0;
    padding: 0;
   
  }
  @font-face {
    font-family: "netnet";
    src: url("../../netnet-main/fonts/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "netnet";
    src: url("../../netnet-main/fonts/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    background-color:  #0e0e0e;
  }
  
  /*Logo netnet*/
  #log {
    margin: 4vh 0 0 3vh;
    background: #b1060f;
      height: 14vh;
      width: 4vh;
      position: relative;
   
    
    }
    #log::before {
      background: #b1060f;
        height: 14vh;
        width: 4vh;
        position: absolute;
        content: "";
        left: 5.5vh;
      }
      #log::after {
        background: #222;
          height: 20px;
          width: 0px;
          position: absolute;
          content: '';
          left: -25px;
          bottom: -20px;
          border-radius: 50%;
      }
  
      .log {
        position:absolute;
        height: 14vh;
        width: 4.4vh;
        background: #e50913;
        left: 2.5vh;
        transform: skew(20deg);
        box-shadow: 0 0 10px -4px;     
      }
  
  #contenedor {
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
    font-family: "netnet";
  }
  #contenedor header {
  color: rgb(209, 206, 206);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3vh;
  }
  
  #form {
    background: #0e0e0e;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(209, 206, 206);
    font-size: 3vh;
  }
  #form label {
    margin-top: 3vh;
  }
  #form input {
    padding: 10px;
    width: 100%;
    font-size: 2vh;
    font-weight: normal;
    text-align: center; 
  }
  #form textarea {
    padding: 20px;
    width: 100%
  }
  #form button {
  font-size: 2vh;
  }
  
  #pelicula {
  
    background: #ffffff;
    border-radius: 2px;
    text-align: center;
    color: rgb(19, 1, 1)   ;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
  }
  
  #cant {
    background: #ffffff;
    border-radius: 2px;
    text-align: center;
    color: rgb(19, 1, 1)   ;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
  }
  
  
  
  #inpt_cant {
    background: #f2eaf8;
    border-radius: 2px;
    text-align: center;
    color: #fff   ;
    font-size: 30px;
    font-weight: bold;
    width: 100px;
  }
  
  #button {
    padding: 10px;
    background: rgba(3, 199, 52, 0.938);
    color:#fff;
    border-style: none;
    width: 100%;
  }
  
  #button:hover {
    background: rgba(3, 199, 52, 0.829);
    color: rgba(255, 255, 255, 0.897);
  }
  #mensaje {
    margin-top: 5px;
    border-radius: 2px;
    border-color: #afafe6;
    height: 80px;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(10, 0, 0);
  }
  h4 {
      color: rgb(209, 204, 204);
      text-align: center;
      font-weight: normal;
  }