@font-face {
    font-family: "netnet";
    src: url("../fonts/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "netnet";
    src: url("../fonts/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
    font-style: normal;
  }

  a{
      color: white;
      font-size:2%;
  }

body {
    font-family: "netnet";
    background-color: #0e0e0e;
    color:#c4c4c4;
    width: 100vw;
    max-width: 100%;
}

header {
    display:block;
    max-width: 100%;
    height: fit-content;
    flex-direction: column;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
}

.navbar-brand{
    font-size: 16px;
}

.nav{
    
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 80% ;
}


.card-img {
    height: 250px;
    width: 156px;
    border: none;
    margin-bottom: 1px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
}


#logo {
    position:fixed;
    box-shadow: inset 0px 180px 70px -30px #000000;
    height: 330px;
    width:100%;
   z-index: 1; 
}

#logo img {
    width: 25%;
    margin-bottom: -18px;
    margin-top: -15px;
}

#menu {
    width: 102%;
    margin-top: -8px;
    font-size: 13px;
}

#menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    font-size: 4vw;
}

#menu ul li:hover {
    color: white;
}
main {
    width: 100%;
    margin-bottom: 10vw;
}
#slider {
    width:102%;
    margin-left: -9px;
    display: flex;
    flex-direction: column;
    
}
#slider img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.search{
    position: fixed;
}

.form-control{
    transform: translateY(-25px);
    align-items: center;
    width: 97%;
    position: fixed;
    margin-left: 5px;
}

#slider-content {
    
    margin-top: -170px;
    position: relative;
    background: linear-gradient(to top,#0e0e0e 0,rgba(22, 22, 22, 0.953) 50%,rgba(0, 0, 0, 0) 100%);
}
#actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#actions img {
    width: 25%;
    max-height: 3rem;
    position: static;
}
/*#reproducir:hover{}*/
#contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.headers {
    margin-left: 13.5vw;
    font-size: 5vw;
}

.buscar{
    margin-top: 5px;
    margin-left: 12.5vw;
    font-size: 5vw;
}
.listPopulares, .listAnime, .listSeries {
    display: flex;
    flex-direction:row;
    overflow-x: scroll;
    margin-top: 7vw;
}
.listPopulares img, .listAnime img, .listSeries img {
    margin: 2vw 2vw;
}

.force-overflow
{
	min-height: 450px;
}

footer {
    padding-top: 3px;
    display: flex;
    position: fixed;
    flex-direction:row;
    justify-content: space-evenly;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background:#0e0e0e;
    height: 6%;
}


