@font-face {
  font-family: "netnet";
  src: url("../fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "netnet";
  src: url("../fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}


body {
  background: black;
  color: white;
  margin: 0px;
  padding-bottom: 30px;
}

#img-detalle {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

#titulo {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "netnet";
  font-size: 28px;
}

.destacado {
  margin-left: 10px;
  margin-right: 10px;
}

.destacado-detalles {
  padding: 0;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, black 0%, transparent 100%);
}

.minDetalles {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
  height: 25px;
  align-items: center;
  /* gap: 20px; */
  list-style: none;
  padding-left: 5px;
}

.minDetalle {
  /* display: flex; */
  font-family: "netnet";
  font-size: 14px;
  color: #313131;
}

.liR {
  background: #555555;
  width: 18px;
  height: 22px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: netnet;
  font-size: 12px;
  align-items: center;
  display: grid;
}

.liHD {
  border: 1px solid;
  height: 20px;
  width: 25px;
  text-align: center;
  border-radius: 2px;
  border-color: #313131;
}

#coincidencia {
  color: #65b867;
  margin-left: 0;
  font-family: netnet;
  font-weight: bold;
  font-size: 12px;
}

.play table {
  margin-top: 10px;
  width: 100%;
}

.accionesDetalle {
  width: 100%;
  height: 30px;
  font-family: netnet;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.down {
  background-color: #2b2b2b;
  color: white;
  border: 0px;
  border-radius: 2px;
}

.descripcion {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: netnet;
  font-size: 12px;
  line-height: 1.8;
  color: #8b8b8b;
}

.elenco {
  margin-top: 10px;
  margin-left: 10px;
  font-family: netnet;
  font-size: 10px;
  color: #515151;
}

.acciones {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.acciones button {
  height: 45px;
  background: transparent;
  border: 0;
  color: #515151;
  font-family: netnet;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.pelis {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  font-family: netnet;

}

.pelis img {
  width: 90px;
  margin-right: 7px;
}

.pelisTitulo{
  margin-bottom: 5px;
  margin-top: 0px;
}

.tablePelis{
  overflow-x: auto;
}

hr {
    width: 28%;
  display: block;
  height: 10px;
  border: 0;
  border-top: 3px solid #d22f26;
  margin: 1px 0;
  padding: 0;
}

footer {
    display: flex;
    position: fixed;
    flex-direction:row;
    justify-content: space-evenly;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background:#0e0e0e;
    height: 6%;
}

#footer-pc{
  display: none;
}

.listSimilares{
    display: flex;
    flex-direction:row;
    overflow-x: scroll;
    margin-top: 7vw;
}

.listSimilares img {
  margin: 2vw 2vw;
}

@media (min-width: 600px) {
  .descripcion {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
  }

  .elenco {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 16px;
  }
  .destacado {
    margin-left: 30px;
    margin-right: 30px;
  }
  #titulo {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 34px;
  }

  .acciones {
    margin-left: 30px;
    margin-right: 30px;
  }

  .pelis{
    margin-left: 30px;
    margin-right: 30px;
  }

  .pelis img {
    width: 180px;
    margin-right: 7px;
  }

  .pelisTitulo{
    font-size: 25px;
  }

  hr{
    width: 12%;
  }

  #img-detalle {
    height: 600px;  
    object-fit: cover;
    object-position: 100% 20%;    
  }

  footer img{
    display: none;
  }

  
  #footer-pc{
    margin-top: 20px;
    margin-left: 0;
    padding: 0;
    margin-right: 950px;
    color: #515151;
    display: block;
    text-align: left;
  }
}

@media (min-width: 1025px){
  
    body {
      width:40%;
      margin-left: auto;
      margin-right: auto;
    }
    .listSimilares {
      margin-top: 0px;
      overflow-x: hidden;
      flex-wrap: wrap;
    }
    .imagen {
      display:flex;
      align-items: center;
      max-height: 800px;
    }
    #img-detalle {
      height: 800px;  
      object-fit: content;
      margin-left: auto;
      margin-right: auto;
    }
    footer {
      display: none;
    }

}